<ion-content padding>
  <div class="horizontal-container centrar">
    <div class="horizontal-container centrar contorno">
      <img matTooltip="icon" src="http://www.accessories-india.com/images/login1.png" width="100" height="100">


      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Usuario" [(ngModel)]="user"></textarea>
      </mat-form-field>


      <div class="example-container">
        <mat-form-field matTooltip="password">
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="pass">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>


      <ion-button class="blue-full" (click)="acceder()">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>