// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.main-container {
    margin: 20px;
}

body {
    padding-bottom: 99px;
}

.background {
    --background: black !important;
    --color: white !important;
    margin-left: -20px;
    margin-top: -20px;
}

.letrasNegritas {
    color: black;
}

.letrasBlanco {
    color: white;
}

.masters {
    background-color: green;
}

.img-logo {
    width: 120px;
}

.puntero {
    cursor: pointer;
}

.image-circle {
    border-radius: 100%;
    width: 150px;
    border: 3px solid #ddd;
    padding: 3px;
}

.image-circle:hover {
    box-shadow: 0 0 3px 3px rgba(243, 4, 4, 0.788);
}

.img-thumb {
    width: 50px;
    height: 50px;
}

// ANIMACIONES
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}